server:
  port: 8081
  servlet:
    context-path: /

spring:
  application:
    name: notification-service

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      group-id: notification-group
      auto-offset-reset: earliest

# Swagger конфигурация
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    doc-expansion: none
    display-request-duration: true
    defaultModelsExpandDepth: 1
    defaultModelExpandDepth: 1

kafka:
  topics:
    user-events: user-events-topic

app:
  email:
    from: ${EMAIL_USERNAME}
  site:
    url: https://kakoi-site.com

logging:
  level:
    com.aston: DEBUG
    org.springframework.web: INFO
    org.springframework.kafka: INFO
    org.springdoc: INFO
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"